
@{
  ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
  <li class="col-md-4">
    <a href="">
      <img src="~/images/Image1.jpg" alt="the first widget" title="information about to this particular widget" />
      <figcaption>Test Widget 1</figcaption>
    </a>
  </li>
  <li class="col-md-4">
    <a href="">
      <img src="~/images/Image2.jpg" alt="the second widget" title="information about to this particular widget" />
      <figcaption>Test Widget 2</figcaption>
    </a>
  </li>
  <li class="col-md-4">
    <a href="">
      <img src="~/images/Image3.png" alt="the third widget" title="information about to this particular widget" />
      <figcaption>Test Widget 3</figcaption>
    </a>
  </li>
</ul>

